*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 62.5%;
    user-select: none;

}

body{
    background-color: #E5E5E5 ;
}

main{
    width: 82.1rem;
    height: 33.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 19.2rem auto 18.8rem ;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 50rem;
    line-height: 14.8rem;

    text-align: center;
    text-transform: uppercase;

    color: #323238;
}

svg.setColorSelect path {
    fill: #02799D;
}

svg.setColorSelect .contour{
    fill:white;
}

svg.setColorDarkSelect path {
    fill: #0A3442;
}

svg.setColorDarkSelect .contour{
    fill:white;
}


.setColorDark path{
    fill: #3f3f42;
}
.setColorDark .contour{
    fill: #C4C4CC;
}

.setColorPlay path{
    fill: #02799D;
}

.setColorDarkTimer path{
    fill: #C4C4CC;
}




.timer{
    display: flex;
    width: 32.1rem;
    height: 11.7rem;
    gap: none;
    margin-bottom: 1.7rem ;
}

.cardTree, .cardStore, .cardFire, .cardCloud{
    position: relative;
    width: 100%;
    padding-bottom: 0;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}

.setColorTimer{
    color: white;
}

.controls{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

button{
    width: 4.8rem;
    height: 4.8rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;

    /* border: 1px solid black; */
}

.icons{
    width: 30.8rem;
   /* height: 33.6rem;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0;
    gap: 1.6rem;
  
    cursor: pointer;
}

#sol, #lua{
    position:fixed;
    top: 6rem;
    right: 6rem;
}

.hide {
    display: none;
}

.setBackgroud {
    background-color: #29292E;  
}

.inputrangeTree , .inputrangeStore , .inputrangeFire , .inputrangeCloud  {
    margin-top: 8rem;
    accent-color: #323238;
    width: 12rem;
    position: absolute;
    /* -webkit-appearance: none; */
    background: #d3d3d3;
    outline: none;
    /* width: 100%; */
    height: 0.7rem;
    border-radius: 9px; 
  }

  
  .classButton {
    animation-duration: 0.5s;
    animation-name: slidein;
  }

  @keyframes slidein {
    0% {
        opacity: 0;
    }  
    100% {
        opacity: 1;
    }
}